.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ffffff;
  font-family: 'Clash Display', sans-serif;
}

.content-body {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.header-nav {
  margin-bottom: 24px;
}

.back-btn-dark {
  background: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 14px;
  }
}

.page-title-box {
  margin-bottom: 30px;
}

.main-title {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 6px;
  line-height: 145%;
  letter-spacing: 0px;
}

.sub-title {
  font-size: 12px;
  color: #484848;
  margin: 0;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 3%;
}

.timer-container {
  text-align: center;
  margin-bottom: 24px;
}

.timer-text {
  color: #009738;
  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
}

.qr-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.qr-image {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.amount-container {
  text-align: center;
  margin-bottom: 30px;
}

.amount-label {
  font-size: 12px;
  color: #8B8B8B;
  margin: 0 0 6px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -1%;
}

.amount-value {
  font-size: 26px;
  font-weight: 700;
  color: #009738;
  margin: 0;
  line-height: 140%;
  letter-spacing: 0%;
}

.address-container {
  text-align: center;
  margin-bottom: auto;
}

.address-label {
  font-size: 12px;
  color: #8B8B8B;
  margin: 0 0 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}

.address-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 14px 16px;
  background: #F6F6F6;
  border: 1px solid #D1E0F6;
  color: #131313;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  height: 24px;
}

.address-text {
  font-size: 13px;
  font-weight: 600;
  color: #111;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 12px;
}

.copy-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
  }
}

.cancel-box {
  margin-top: 40px;
}

.cancel-btn {
  width: 100%;
  background: transparent;
  color: #000000;
  border: 1px solid #00000066;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  height: 44px;

  &:active {
    background: #f0f0f0;
  }
}