<div class="layout-container">
  <app-top-nav [isWhite]="true"></app-top-nav>

  <!-- SUCCESS UI -->
  <div class="content-body success-body" *ngIf="isPaymentSuccess">
    <div class="header-nav">
      <img src="/backwhite.svg" (click)="goBack()" alt="back" />
    </div>

    <div class="page-title-box">
      <h2 class="main-title">{{ 'Congratulations' | translate }}</h2>
    </div>


    <div class="success-center-content">
      <img src="/depositsuccess.svg" class="success-img" />
      <div class="page-title-box">
        <h2 class="main-title">{{ 'Congratulations' | translate }}</h2>
      </div>
      <p class="success-desc">Thank you! Your payment has been submitted and should appear in your wallet within the
        next 5 minutes</p>
    </div>

    <div class="cancel-box">
      <button class="submit-btn" (click)="confirmSuccess()">Confirm</button>
    </div>
  </div>

  <!-- EXISTING DEPOSIT UI -->
  <div class="content-body" *ngIf="!isPaymentSuccess">
    <div class="header-nav">
      <img src="/backwhite.svg" (click)="goBack()" alt="back" />
    </div>

    <div class="page-title-box">
      <h2 class="main-title">{{ 'Recharge' | translate }}</h2>
      <p class="sub-title">{{ ' 30 USDT / USDC BEP20 BNB Chain' | translate }}</p>
    </div>

    <div class="timer-container">
      <span class="timer-text">{{ countdownText | translate }}</span>
    </div>

    <div class="qr-container">
      <img class="qr-image" [src]="data?.qr_code" />
    </div>

    <div class="amount-container">
      <p class="amount-label">{{ 'Amount Payable' | translate }}</p>
      <h3 class="amount-value">{{ data?.amount }} USDT</h3>
      <p class="timer-text">{{ 'USDT / USDC -BEP20 BNB' | translate }}</p>
    </div>

    <div class="address-container">
      <p class="address-label">{{ 'Copy the Deposit address to transfer the amount' | translate }}</p>
      <div class="address-box">
        <span class="address-text">{{ data?.address }}</span>
        <button class="copy-btn" (click)="copyToClipboard(data?.address)">
          <img src="/copy.svg" alt="copy" />
        </button>
      </div>
    </div>

    <div class="cancel-box">
      <button class="cancel-btn" (click)="cancel()">{{ 'Cancel' | translate }}</button>
    </div>
  </div>
</div>